.mediaViewInfo {
	--web-view-name: Exam;
	--web-view-id: Exam;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Exam;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Exam_Class {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	top: 50%;
	width: 841.89px;
	height: 595.276px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Exam;
	--web-view-id: Exam;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.background_Class {
	position: absolute;
	width: 847px;
	height: 596px;
	left: -1.78px;
	top: -0.276px;
	overflow: visible;
}
.layer_2_Class {
	position: absolute;
	width: 784.399px;
	height: 341.92px;
	left: 12.091px;
	top: 196.474px;
	overflow: visible;
}
.white_block_Class {
	position: absolute;
	width: 748px;
	height: 318px;
	left: 36.399px;
	top: 0px;
	overflow: visible;
}
.iconBig_exam_Class {
	position: absolute;
	width: 147.837px;
	height: 187.257px;
	left: 0px;
	top: 70.419px;
	overflow: visible;
}
._____Class {
	position: absolute;
	left: 35.13px;
	top: 169.257px;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: DFPOP1-W9-WIN-BF;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(26,19,17,1);
}
.___26_Class {
	opacity: 0.75;
	position: absolute;
	width: 138.96px;
	height: 173.04px;
	left: 8.877px;
	top: 0px;
	overflow: visible;
}
.__33_Class {
	position: absolute;
	width: 142.831px;
	height: 142.831px;
	left: 0px;
	top: 8.129px;
	overflow: visible;
}
.___27_Class {
	position: absolute;
	width: 142.831px;
	height: 142.831px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.________________Class {
	position: absolute;
	left: 184.74px;
	top: 67.259px;
	overflow: visible;
	width: 467.943px;
	height: 67.425px;
	line-height: 34.80000305175781px;
	margin-top: -2.9000015258789062px;
	text-align: left;
	font-family: DFPOP1-W7-WIN-BF;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(26,19,17,1);
}
.Sa_icelen_no_mita_a_mihatatana_Class {
	position: absolute;
	left: 191.838px;
	top: 225.077px;
	overflow: visible;
	width: 467.943px;
	height: 79.477px;
	line-height: 32px;
	margin-top: -4px;
	text-align: left;
	font-family: DFPOP1-W7-WIN-BF;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(26,19,17,1);
}
.text_blank_Class {
	position: absolute;
	width: 523.278px;
	height: 67.939px;
	left: 151.853px;
	top: 132.143px;
	overflow: visible;
}
.rectangle_28_x {
	filter: drop-shadow(7px 7px 5px rgba(26, 19, 17, 0.749));
	position: absolute;
	overflow: visible;
	width: 538.278px;
	height: 82.939px;
	left: 0px;
	top: 0px;
}
.rectangle_29 {
	filter: drop-shadow(6.617px 6.617px 4.727px rgba(26, 19, 17, 0.749));
	position: absolute;
	overflow: visible;
	width: 504.26px;
	height: 65.706px;
	left: 18.257px;
	top: 6.727px;
}
._______________Class {
	position: absolute;
	left: 194.919px;
	top: 151.624px;
	overflow: visible;
	width: 467.943px;
	height: 69.425px;
	line-height: 37.20000076293945px;
	margin-top: -3.1000003814697266px;
	text-align: left;
	font-family: DFPOP1-W7-WIN-BF;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(26,19,17,1);
}
.recordpanel_Class {
	position: absolute;
	width: 188.864px;
	height: 81.944px;
	left: 564.908px;
	top: 259.976px;
	overflow: visible;
}
.___30_ {
	filter: drop-shadow(6.009px 6.009px 4.292px rgba(26, 19, 17, 0.749));
	position: absolute;
	overflow: visible;
	width: 199.438px;
	height: 92.338px;
	left: 0px;
	top: 0px;
}
.______Class {
	position: absolute;
	left: 72.352px;
	top: 4.167px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -10px;
	text-align: left;
	font-family: DFPOP1-W7-WIN-BF;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(26,19,17,1);
}
.buttom_record_Class {
	position: absolute;
	width: 56.88px;
	height: 56.88px;
	left: 75.015px;
	top: 20.727px;
	overflow: visible;
}
.___31_Class {
	opacity: 0.75;
	position: absolute;
	width: 56.88px;
	height: 56.88px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.__36_Class {
	position: absolute;
	width: 37.503px;
	height: 37.503px;
	left: 5.221px;
	top: 5.287px;
	overflow: visible;
}
.___32_Class {
	position: absolute;
	width: 37.503px;
	height: 37.503px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.buttom_recordpause_Class {
	position: absolute;
	width: 62.16px;
	height: 61.92px;
	left: 13.156px;
	top: 20.024px;
	overflow: visible;
}
.___33_Class {
	opacity: 0.75;
	position: absolute;
	width: 62.16px;
	height: 61.92px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.__38_Class {
	position: absolute;
	width: 40.795px;
	height: 40.796px;
	left: 5.818px;
	top: 5.609px;
	overflow: visible;
}
.___34_Class {
	position: absolute;
	width: 40.795px;
	height: 40.796px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.buttom_recordplay_Class {
	position: absolute;
	width: 60.24px;
	height: 60.24px;
	left: 128.624px;
	top: 19.751px;
	overflow: visible;
}
.___35_Class {
	opacity: 0.75;
	position: absolute;
	width: 60.24px;
	height: 60.24px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.__40_Class {
	position: absolute;
	width: 38.416px;
	height: 38.415px;
	left: 5.876px;
	top: 5.807px;
	overflow: visible;
}
.___36_Class {
	position: absolute;
	width: 38.416px;
	height: 38.415px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.ID1_10_Class {
	position: absolute;
	left: 640.31px;
	top: 75.53px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -8.5px;
	text-align: left;
	font-family: DFPOP1-W7-WIN-BF;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(26,19,17,1);
}
.menu_bar_Class {
	position: absolute;
	width: 782.839px;
	height: 136.43px;
	left: 40.812px;
	top: 31.724px;
	overflow: visible;
}
.rectangle_145_bj {
	filter: drop-shadow(7px 7px 5px rgba(26, 19, 17, 0.749));
	position: absolute;
	overflow: visible;
	width: 793.514px;
	height: 142.522px;
	left: 0px;
	top: 0.843px;
}
.icon_toolbox_Class {
	position: absolute;
	width: 120.48px;
	height: 125.04px;
	left: 246.589px;
	top: 8.701px;
	overflow: visible;
}
.__188_Class {
	position: absolute;
	width: 102.72px;
	height: 93.6px;
	left: 6.96px;
	top: 0px;
	overflow: visible;
}
.___146_Class {
	opacity: 0.75;
	position: absolute;
	width: 102.72px;
	height: 93.6px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.__187_Class {
	position: absolute;
	width: 72.027px;
	height: 72.027px;
	left: 12.512px;
	top: 7.91px;
	overflow: visible;
}
.___147_Class {
	position: absolute;
	width: 72.027px;
	height: 72.027px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.__191_Class {
	position: absolute;
	width: 120.48px;
	height: 59.04px;
	left: 0px;
	top: 66px;
	overflow: visible;
}
.___148_Class {
	opacity: 0.75;
	position: absolute;
	width: 120.48px;
	height: 59.04px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.__190_Class {
	position: absolute;
	width: 89.009px;
	height: 27.576px;
	left: 12.876px;
	top: 12.968px;
	overflow: visible;
}
.__189_Class {
	position: absolute;
	width: 89.009px;
	height: 27.576px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.___149 {
	position: absolute;
	overflow: visible;
	width: 90.009px;
	height: 28.576px;
	left: 0px;
	top: 0px;
}
.____Class {
	position: absolute;
	left: 18.343px;
	top: 4.626px;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	line-height: 21.54595184326172px;
	margin-top: -1.7954959869384766px;
	text-align: left;
	font-family: DFPOP1-W9-WIN-BF;
	font-style: normal;
	font-weight: normal;
	font-size: 17.954959869384766px;
	color: rgba(255,255,255,1);
}
.____bv_Class {
	position: absolute;
	left: 18.343px;
	top: 4.626px;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	line-height: 21.54595184326172px;
	margin-top: -1.7954959869384766px;
	text-align: left;
	font-family: DFPOP1-W9-WIN-BF;
	font-style: normal;
	font-weight: normal;
	font-size: 17.954959869384766px;
	color: rgba(26,19,17,1);
}
.icon_homepage_Class {
	position: absolute;
	width: 138.72px;
	height: 132.523px;
	left: 505.639px;
	top: 3.908px;
	overflow: visible;
	--web-animation: fadein 1s ease-out;
	--web-action-type: page;
	--web-action-target: home.html;
	cursor: pointer;
}
.___150_Class {
	position: absolute;
	width: 104.742px;
	height: 104.742px;
	left: 13.356px;
	top: 0px;
	overflow: visible;
}
.__196_Class {
	position: absolute;
	width: 138.72px;
	height: 77.28px;
	left: 0px;
	top: 55.243px;
	overflow: visible;
}
.__195_Class {
	position: absolute;
	width: 138.72px;
	height: 77.28px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.___151_Class {
	opacity: 0.75;
	position: absolute;
	width: 138.72px;
	height: 77.28px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.__194_Class {
	position: absolute;
	width: 99.857px;
	height: 38.306px;
	left: 15.798px;
	top: 15.964px;
	overflow: visible;
}
.__193_Class {
	position: absolute;
	width: 99.857px;
	height: 38.306px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.___152_b {
	position: absolute;
	overflow: visible;
	width: 100.857px;
	height: 39.306px;
	left: 0px;
	top: 0px;
}
.___Class {
	position: absolute;
	left: 29.083px;
	top: 9.872px;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 29.92984962463379px;
	margin-top: -4.9649248123168945px;
	text-align: left;
	font-family: DFPOP1-W9-WIN-BF;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.___b_Class {
	position: absolute;
	left: 29.083px;
	top: 9.872px;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 29.92984962463379px;
	margin-top: -4.9649248123168945px;
	text-align: left;
	font-family: DFPOP1-W9-WIN-BF;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(26,19,17,1);
}
.icon_exam_Class {
	position: absolute;
	width: 119.76px;
	height: 119.516px;
	left: 363.328px;
	top: 12.604px;
	overflow: visible;
}
.___156_Class {
	opacity: 0.75;
	position: absolute;
	width: 119.76px;
	height: 58.8px;
	left: 0px;
	top: 60.716px;
	overflow: visible;
}
.__201_Class {
	position: absolute;
	width: 88.423px;
	height: 27.394px;
	left: 12.898px;
	top: 73.563px;
	overflow: visible;
}
.__200_Class {
	position: absolute;
	width: 88.423px;
	height: 27.394px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.___157 {
	position: absolute;
	overflow: visible;
	width: 89.423px;
	height: 28.394px;
	left: 0px;
	top: 0px;
}
.___cc_Class {
	position: absolute;
	left: 26.726px;
	top: 4.503px;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	line-height: 21.40425682067871px;
	margin-top: -1.7836885452270508px;
	text-align: left;
	font-family: DFPOP1-W9-WIN-BF;
	font-style: normal;
	font-weight: normal;
	font-size: 17.83687973022461px;
	color: rgba(255,255,255,1);
}
.___cd_Class {
	position: absolute;
	left: 26.726px;
	top: 4.503px;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	line-height: 21.40425682067871px;
	margin-top: -1.7836885452270508px;
	text-align: left;
	font-family: DFPOP1-W9-WIN-BF;
	font-style: normal;
	font-weight: normal;
	font-size: 17.83687973022461px;
	color: rgba(26,19,17,1);
}
.___161_Class {
	position: absolute;
	width: 71.544px;
	height: 71.544px;
	left: 25.929px;
	top: 0px;
	overflow: visible;
}
.icon_profile_Class {
	position: absolute;
	width: 138.72px;
	height: 127.231px;
	left: 644.119px;
	top: 9.2px;
	overflow: visible;
}
.___153_Class {
	position: absolute;
	width: 103.601px;
	height: 103.601px;
	left: 19.102px;
	top: 0px;
	overflow: visible;
}
.__199_Class {
	position: absolute;
	width: 138.72px;
	height: 77.28px;
	left: 0px;
	top: 49.951px;
	overflow: visible;
}
.___154_Class {
	opacity: 0.75;
	position: absolute;
	width: 138.72px;
	height: 77.28px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.__198_Class {
	position: absolute;
	width: 99.857px;
	height: 38.306px;
	left: 15.913px;
	top: 15.964px;
	overflow: visible;
}
.__197_Class {
	position: absolute;
	width: 99.857px;
	height: 38.306px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.___155_cm {
	position: absolute;
	overflow: visible;
	width: 100.857px;
	height: 39.306px;
	left: 0px;
	top: 0px;
}
._____cn_Class {
	position: absolute;
	left: 10.286px;
	top: 9.873px;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	line-height: 29.92984962463379px;
	margin-top: -4.9649248123168945px;
	text-align: left;
	font-family: DFPOP1-W9-WIN-BF;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
._____co_Class {
	position: absolute;
	left: 10.286px;
	top: 9.873px;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	line-height: 29.92984962463379px;
	margin-top: -4.9649248123168945px;
	text-align: left;
	font-family: DFPOP1-W9-WIN-BF;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(26,19,17,1);
}
.logo_island_Class {
	position: absolute;
	width: 147px;
	height: 130px;
	left: 10.408px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 1s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}